*{
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}

#myImg {
  width:20%;
  height: 40%;
}


.hidden { display: none }

body{
  text-align: center;
  margin: auto;
}

/* #image-and-table{
  position: relative;

} */